@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 260 25% 98%;
    --foreground: 260 20% 20%;
    --card: 260 25% 98%;
    --card-foreground: 260 20% 20%;
    --popover: 260 25% 98%;
    --popover-foreground: 260 20% 20%;
    --primary: 260 50% 57%;
    --primary-foreground: 260 25% 98%;
    --primary-dark: 260 50% 47%;
    --primary-light: 260 50% 67%;
    --secondary: 153 54% 57%;
    --secondary-foreground: 260 25% 98%;
    --secondary-dark: 153 54% 47%;
    --secondary-light: 153 54% 67%;
    --muted: 260 10% 90%;
    --muted-foreground: 260 10% 40%;
    --accent: 260 40% 65%;
    --accent-foreground: 260 25% 98%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 260 25% 98%;
    --neutral-dark: 260 15% 21%;
    --neutral-medium: 260 10% 33%;
    --neutral-light: 260 25% 97%;
    --gray-dark: 260 10% 33%;
    --gray-medium: 260 10% 58%;
    --gray-light: 260 10% 89%;
    --border: 260 10% 85%;
    --input: 260 10% 85%;
    --ring: 260 50% 57%;
    --chart-1: 260 50% 57%;
    --chart-2: 153 54% 57%;
    --chart-3: 220 60% 57%;
    --chart-4: 290 50% 57%;
    --chart-5: 30 70% 57%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 260 20% 10%;
    --foreground: 260 15% 90%;
    --card: 260 20% 12%;
    --card-foreground: 260 15% 90%;
    --popover: 260 20% 12%;
    --popover-foreground: 260 15% 90%;
    --primary: 260 50% 57%;
    --primary-foreground: 260 15% 90%;
    --primary-dark: 260 50% 47%;
    --primary-light: 260 50% 67%;
    --secondary: 153 54% 57%;
    --secondary-foreground: 260 15% 90%;
    --secondary-dark: 153 54% 47%;
    --secondary-light: 153 54% 67%;
    --muted: 260 20% 20%;
    --muted-foreground: 260 15% 65%;
    --accent: 260 40% 30%;
    --accent-foreground: 260 15% 90%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 260 15% 90%;
    --neutral-dark: 260 15% 90%;
    --neutral-medium: 260 15% 70%;
    --neutral-light: 260 15% 15%;
    --gray-dark: 260 10% 70%;
    --gray-medium: 260 10% 50%;
    --gray-light: 260 10% 25%;
    --border: 260 20% 25%;
    --input: 260 20% 25%;
    --ring: 260 50% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}